        body,html {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;

        }

        header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

        }

        header video{
            width: 100%;
            max-height: 500px;
            object-fit: cover;

            }

        #head{
            width: 100%;
            background-color: #7e0404;
            text-align: center;
            padding: 8px 0 ;
            
        }

        #nome{
            font-weight: bold;
            color: #ffff;
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;

        }

        #caixa{
            margin-top: 20px;
            margin-bottom: 40px;
            border: 2px solid #969696;
            border-radius: 8px;
            padding: 20px;
            box-shadow: #000000 0px 4px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;

        }

        #container{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

        }

        #card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            border: 2px solid #969696;
            width: 295px;
            height: auto;
            margin-top: 20px;
            margin-left: 20px;
        }

        #imagem{
            width: 295px;
            max-width: 295px;
            height: 300px;
            
        }

        #carddescricao{
            font-size: 22px;
            margin: 10px 0 ;
            width: 252px;
            height: auto;
            border: #dfdddb solid 2px;
            
        }

        #descricao {
            color: #666;
            width: 100%;
            height: auto;
            background-color: #fdeb23;
        }

        #butao {
            width: 182px;
            height: 47px;
            background-color: red;
            border-radius: 5%;
            margin-top: 10px;
            margin-bottom: 15px;
            cursor: pointer;
            color: white;
            border: black solid 2px;
            font-weight: bold;

        }

        #butao:hover{
            background-color: rebeccapurple;
            color: #ffff;
            border: red;
        }